<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Management System</title>
    <link rel="stylesheet" href="/css/favourites.css">
    <link rel="stylesheet" href="/css/book-list.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
          integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
</head>
<body>
<div th:replace="~{frame :: body}"></div>
<div class="video-background" style="opacity: 0.6">
    <video autoplay loop muted playsinline>
        <source src="/media/video/fav.mp4" type="video/mp4">
    </video>
</div>
<div class="main-text">
    <h1 style="color: #ff8497; font-size: 5rem; top: 0; padding-top: 0; margin-top: 0;"><br>MY FAVORITE BOOK<br></h1>
</div>
<section class="display-main">
    <div class="book-list">
        <div class="books">
            <th:block th:each="book : ${books}">
                <div class="book-item">
                    <img th:src="${book.imageUrl}" alt="Book Thumbnail" class="book-thumbnail">
                    <div class="book-details">
                        <h3 th:text="${book.title}"></h3>
                        <p><strong>Author:</strong> <span th:text="${book.author}"></span></p>
                        <p><strong>Publisher:</strong> <span th:text="${book.publisher}"></span></p>
                        <p><strong>Genre:</strong> <span th:text="${book.genre}"></span></p>
                        <p><strong>Rating:</strong> <span th:text="${book.rating}"></span></p>
                        <p><strong>Publication Year:</strong> <span th:text="${book.publicationYear}"></span></p>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
</section>
</body>
</html>