<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login Page</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<h1>Login</h1>
<div>
    <p>Log in using one of the following providers:</p>
    <a th:href="@{/oauth2/authorization/google}">
        <button type="button">Login with Google</button>
    </a>
    <a th:href="@{/oauth2/authorization/github}">
        <button type="button">Login with GitHub</button>
    </a>
</div>
<p>Don't have an account? <a th:href="@{/signup}">Sign up</a></p>
</body>
</html>
