<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Page Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/favourites.css">
    <link rel="stylesheet" href="/css/book-list.css">
    <link rel="stylesheet" href="/css/history.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
          integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
</head>
<body>
<div th:replace="~{frame :: body}"></div>
<div class="tabular-wrapper">
    <h class="main-title" style="font-size: 50px;"><strong>MY HISTORY</strong></h>
    <div class="table-container">
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Book Title</th>
                <th>Genre</th>
                <th>Author</th>
                <th style="text-align: center">Edit</th>
                <th style="text-align: center">Remove</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="borrow : ${borrowHistory}">
                <td th:text="${borrow.id}"></td>
                <td th:text="${borrow.book != null ? borrow.book.title : 'Unknown'}"></td>
                <td th:text="${borrow.genre}"></td>
                <td th:text="${borrow.author}"></td>
                <td><i class='bx bxs-edit'></i></td>
                <td><i class='bx bxs-trash'></i></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-overlay" id="addBookModal">
        <div class="modal-box">
            <h3>Add New Book</h3>
            <form id="addBookForm">
                <label for="bookId">ID:</label>
                <input type="text" id="bookId" name="bookId" required />

                <label for="bookTitle">Title:</label>
                <input type="text" id="bookTitle" name="bookTitle" required />

                <label for="bookGenres">Genres:</label>
                <input type="text" id="bookGenres" name="bookGenres" required />

                <label for="bookImage">Image:</label>
                <input type="file" id="bookImage" name="bookImage" accept="image/*" />

                <button type="submit">Add to List</button>
                <button type="button" id="closeModal">Cancel</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>